:root {
  --primary-color: #243763;
  --secondary-color: #ff6e31;
  --tertiary-color: #ffebb7;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  background-color: #dddddd;
  margin: 24px;
} */

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.timer {
  font-family: sans-serif;
  display: inline-block;
  padding: 24px 32px;
  border-radius: 30px;
  background: white;
}

.timer__part {
  font-size: 36px;
  font-weight: bold;
}





.intervalTimeContainer {
  font-size: 50px;
} */
body {
  background-color: var(--primary-color);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.timer {
  font-family: sans-serif;
  display: inline-block;
  padding: 25px 70px;
  border-radius: 30px;
  background: var(--tertiary-color);
  color: var(--secondary-color);
  text-align: center;
}

.timer__part {
  font-size: 36px;
  font-weight: bold;
}

.intervalTimeContainer {
  margin: 20px;
}

.intervalTime {
  font-size: 10vh;
  font-weight: bold;
}

.ellapsedTime {
  font-size: 50px;
  font-weight: bold;
}

.controls {
  margin-top: 20px;
}
.timer__btn {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  color: white;
  border: none;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.timer__btn--start {
  background-color: #00b84c;
}

.timer__btn--stop {
  background-color: #ff0256;
}

.timer__btn--skip {
  display: block;
  margin: 20px 20px 0 auto;
  background-color: #ff6e31;
  height: 80px;
  width: 80px;
}

.material-icons#skip {
  font-size: 50px !important;
}
